@font-face{
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.ttf");
}
*{
	font-family: Roboto;
}
nav{
    height: 60px;
    width: 100%;
    background: black;
    color: beige;
    margin-bottom: 8px;
}
nav i{
    margin-left: 16px;
    margin-top:15px;
    font-size: 30px;
}
nav p{
    display: inline;
    margin-left: 8px;
    font-size: 30px;
}
nav ul{
    list-style: none;
    float: right;
    width: 50%;
    
}
nav li{
    display: inline;
    padding: 16px;
    margin-left: 48px;
}
nav a{
    text-decoration: none;
    color: darkgrey;
}
nav a:hover{
    color: whitesmoke;
    transition-duration: 0.5s;
    border-bottom: 1px solid white;
}
nav button{
    float: right;
    height: 100%;
    font-size: 1em;
    margin-right: 4px;
    border: none;
    padding: 16px;
    background: rgb(48, 48, 48);
    color: white;
}
nav button:hover{
    background: rgb(87, 87, 87);
}
nav>a{
    float: right;
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 16px;
}
body{
    margin: 0px;
}
.reg-back{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(85, 85, 85, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrap{
    background: white;
    text-align: center;
    height: 300px;
    padding: 32px;
}
.form-wrap label{
    display: block;
    padding: 16px;
}
