@font-face{
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.ttf");
}
*{
	font-family: Roboto;
}
body{
	background: yellow;
}
h1{
	display: inline;
}
.search{
	width: 50vw; 
	border: 1px solid rgb(230, 230, 230);
	border-radius: 30px;
	height: 24px;
	padding: 8px;
	font-style: italic;
	font-size: 16px;
}
img{
	width: 200px;
	height: 200px;
	padding: 4px;
}
.imagecontain{
	display: flex;
	flex-wrap: wrap;
	background: whitesmoke;
	width: 100%;
	margin:0 auto;
	margin-top: 16px;
	padding: 24px;
}