@font-face{
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.ttf");
}
*{
	font-family: Roboto;
}
body{
	background: yellow;
}
#gallery{
	border-bottom: 1px solid darkgray;
}
h1{
	display: inline;
	margin-right: 48px;
	margin-left: 16px;
}
.search{
	display: inline-block;
	background: white;
	border-radius: 30px;
	height: 24px;
	padding: 8px;
}
#searchfield{
	width: 50vw; 
	border:none;
	font-style: italic;
	font-size: 16px;
}
.search:hover{
	border: 1px solid rgb(230, 230, 230);
}
img{
	width: 200px;
	height: 200px;
	padding: 4px;
}
img:hover{
	transform: scale(1.1)
}
.imagecontain{
	border-radius:15px; 
	overflow-y: scroll;
	height: 75vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background: whitesmoke;
	width: 96%;
	margin:0 auto;
	margin-top: 24px;
	padding: 16px;
}

form{
	padding: 16px;
	display: inline;
}
form label{
	margin-right: 8px;
	font-weight: 700;
}

#urlbox{
	width: 50vw; 
	border: 1px solid white;
	border-radius: 30px;
	height: 16px;
	padding: 8px;
	font-size: 8px;
}
form button{
	background: black;
	color: beige;
	border: none;
	padding: 8px;
	letter-spacing: 1px;
	margin: 4px;
	font-weight: 700;
}