#index{
    border-bottom: 1px solid darkgray;
}
.reg-back{
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reg-diag{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background: white;
    height: 200px;

}
.reg-diag button  {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}
.reg-diag label{
    margin-bottom: 4px;
}
.reg-diag input{
    border: 1px solid whitesmoke;
    border-radius: 3px;
    font-size: 1.5em;
    margin-bottom: 4px;
}
.reg-diag input:hover{
    border: 1px solid gray;
    
}
.reg_main-btn{
    background: firebrick;
    color: white;
    border: none;
    font-size: 1.2em;
  
}
.reg_main-btn:hover{
    background: tomato;
}
#usertext{
    color: white;
    float: right;
    height: 100%;
    margin: 0;
}
.display{
    display: none;
}
.container{
    width: 100%;
    height: 300px;
    padding-top: 16px;
}
body{
    background: yellow;
}
#intro{
    background: yellow;
    text-align: center;
    height: 400px; 
}
#intro img{
    width:200px;
    height: 200px;
}
h1{
    font-size: 100px;
    margin: 0 auto;
}
#two{
    background: black;
    color: beige;
    text-align: center;
    
}
#two h2{
    font-size: 50px;
}
#three{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#three h2{
    font-size: 50px;
}