@font-face{
	font-family: Roboto;
	src: url("fonts/Roboto-Regular.ttf");
}
*{
	font-family: Roboto;
}
body{
	background: yellow;
}
img{
	width: 200px;
	height: 200px;
	padding: 4px;
}
.imagecontain{
	display: flex;
	flex-wrap: wrap;
	background: whitesmoke;
	width: 100%;
	margin:0 auto;
	padding: 24px;
}